<h4 class="text-center">Cambiar contraseña</h4>

<div class="modal-body">
    <form>

        <label for="password">Contraseña</label>
        <input placeholder="Escriba su contraseña" id="password" name="password" type="password"
               required app-validateEqual="confirmpassword" reverse="true">
        <!--<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' :-->
        <!--'visibility_off'}}-->
        <!--</mat-icon>-->
        <!--<mat-error *ngIf="registerForm.controls['password'].invalid">{{getErrorMessage()}}-->
        <!--</mat-error>-->
        <label for="repassword">Repetir contraseña</label>
        <input placeholder="Escriba su contraseña" type="password" id="repassword"
               name="confirmpassword"
               required app-validateEqual="password" reverse="false" #confirmpassword>
        <div class="form-group">
            <input class="btn btn-primary" (click)="enviar()"
                   [disabled]="loading || model.email?.length === 0"
                   value="Enviar"
                   type="button">
            <img *ngIf="loading"
                 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
            />
        </div>
    </form>
</div>



