<h4 class="text-center">Cambiar contraseña</h4>

<div class="modal-body">
    <form>

        <label for="old_password">Contraseña</label>
        <input placeholder="Escriba su contraseña actual" id="old_password" name="old_password" type="password"
               [(ngModel)]="model.old_password"
               required>

        <label for="new_password">Contraseña</label>
        <input placeholder="Escriba su nueva contraseña" id="new_password" name="new_password" type="password"
               required app-validateEqual="confirmpassword" reverse="true" [(ngModel)]="model.new_password">

        <label for="new_password_confirm">Repetir contraseña</label>
        <input placeholder="Escriba su nueva contraseña" type="password" id="new_password_confirm"
               name="new_password_confirm"
               required app-validateEqual="password" reverse="false" [(ngModel)]="model.new_password_confirm" #confirmpassword>
        <div class="form-group">
            <input class="btn btn-primary" (click)="enviar()"
                   [disabled]="loading"
                   value="Enviar"
                   type="button">
            <img *ngIf="loading"
                 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
            />
        </div>
    </form>
</div>



