.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
/node_modules/
/node_modules/*
node_modules/
dist/*



/node_modules/*


# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

ionic/*~
ionic/*.sw[mnpcod]
ionic/*.log
ionic/*.tmp
ionic/*.tmp.*
ionic/log.txt
ionic/*.sublime-project
ionic/*.sublime-workspace
ionic/.vscode/
ionic/npm-debug.log*

ionic/.idea/
ionic/.sourcemaps/
ionic/.sass-cache/
ionic/.tmp/
ionic/.versions/
ionic/coverage/
ionic/dist/
ionic/node_modules/
ionic/tmp/
ionic/temp/
ionic/hooks/
ionic/platforms/
ionic/plugins/
ionic/plugins/android.json
ionic/plugins/ios.json
ionic/www/
ionic/$RECYCLE.BIN/

ionic/.DS_Store
ionic/Thumbs.db
ionic/UserInterfaceState.xcuserstate

