<div class="col-12">
    <h4 class="text-center tc-blue">Lista de servicios</h4>
    <hr class="bc-grei">

    <div class="row">
        <div class="input-group subscribir-btn">
            <input name="email" type="text" data-toggle="popover" data-placement="bottom"
                   class="form-control" placeholder="Selecciona la ciudad...">
            <span class="input-group-addon btn btn-primary bc-blue-ligth" style="color: white; border: none">
            <i class="fa fa-arrow-down fa-2x"></i>
        </span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="input-group subscribir-btn">
            <input name="email" type="text" data-toggle="popover" data-placement="bottom"
                   class="form-control" placeholder="Selecciona la categoría...">
            <span class="input-group-addon btn btn-primary bc-blue-ligth" style="color: white; border: none">
            <i class="fa fa-arrow-down fa-2x"></i>
        </span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="input-group subscribir-btn">
            <input name="email" type="text" data-toggle="popover" data-placement="bottom"
                   class="form-control" placeholder="Escriba la distancia en Kms">
            <span class="input-group-addon btn btn-primary bc-blue-ligth" style="color: white; border: none">
            <i class="fa fa-arrow-down fa-2x"></i>
        </span>
        </div>
    </div>
    <br>

    <app-services [services]=services></app-services>
</div>




