<div class="col-12">
    <h4 class="text-center tc-blue">Categorías</h4>
    <hr class="bc-grei">

    <mat-grid-list cols="3" id="mat-categories" rowHeight="160px">
        <mat-grid-tile *ngFor="let category of categories" class="text-center">
            <div class="mat-content text-center cp" (click)="dataTitle(category.title)"
                 [routerLink]="['/categories', category.id]">
                <img src="/login/{{category.icon}}" alt="">
                <p class="tc-grei fw-600">{{category.title}}</p>
            </div>
        </mat-grid-tile>
    </mat-grid-list>

</div>
