<h4 class="text-center">Gestión de horarios</h4>

<div class="modal-body">
    <div class="row">
        <h6 class="">Días de atención</h6>
        <!--<hr class="bc-grei">-->
        <mat-checkbox color="primary" class="example-margin col-md-4" *ngFor="let day of week_days; let pos = index;"
                      [(ngModel)]="week_daysValue[pos]" value="{{pos}}" name="week_days">{{day.title}}
        </mat-checkbox>
    </div>

    <div class="row">
        <h6 class="">Horario de atención</h6>
        <div class="col-xs-6 col-sm-8 col-md-9">
            <label for="start_time">Desde:</label>
            <select id="start_time" name="start_time" type="text"
                    [(ngModel)]="start_time">
                <option *ngFor="let current of times" value="{{current}}">{{current}}</option>
            </select>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <label class="d-none d-md-block" for="start_time">&nbsp;</label>
            <select id="start_time_am" [(ngModel)]="start_time_am" class="custom-select">
                <option value="AM">AM</option>
                <option value="PM">PM</option>
            </select>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-8 col-md-9">
            <label for="end_time">Hasta:</label>
            <select id="end_time" name="end_time" type="text"
                    [(ngModel)]="end_time">
                <option *ngFor="let current of times" value="{{current}}">{{current}}</option>
            </select>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <label class="d-none d-md-block" for="start_time">&nbsp;</label>
            <select id="end_time_am" [(ngModel)]="end_time_am" class="custom-select">
                <option value="AM">AM</option>
                <option value="PM">PM</option>
            </select>
        </div>
    </div>

    <div class="row">
        <button class="col-xs-12" (click)="addTime()" mat-raised-button color="primary"
                [disabled]="start_time?.length === 0 || end_time?.length === 0 || !week_daysValue.includes(true)">
            Adicionar horario
        </button>
    </div>
    <br>

    <div *ngFor="let currentime of previewsTimes; let pos = index" class="row">
        <mat-grid-list cols="12" class="mat-position" rowHeight="50px">
            <mat-grid-tile [colspan]="10" [rowspan]="2" class="izq">
                <div>
                    <mat-icon style="position: absolute;" class="tc-blue md-3 md-40">date_range
                    </mat-icon>
                </div>
                <div>
                    <div>
                        <h6 class="tc-blue mb-0" style="margin-left: 45px;"
                            [innerHTML]="result_week_days(currentime)"></h6>
                    </div>
                    <h6 class="tc-blue mb-0" style="margin-left: 45px;">
                        {{currentime.start_time}} - {{currentime.end_time}}</h6>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="comment-date" [colspan]="2" [rowspan]="1">
                <button (click)="deleteTime(pos)"
                        class="delete-position tc-white bc-red pull-right"
                        mat-icon-button style="z-index: 1000;">
                    <mat-icon>clear</mat-icon>
                </button>
            </mat-grid-tile>
            <mat-grid-tile class="comment-date" [colspan]="2" [rowspan]="1">
            </mat-grid-tile>
        </mat-grid-list>

    </div>

    <div class="row" *ngIf="previewsTimes?.length !== 0">
        <button class="col-xs-12" (click)="done()" mat-raised-button color="primary">
            Aceptar
        </button>
    </div>
</div>
