.homepage-banner .block-title {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    display: block;
    line-height: 120px;
    font-size: 100px;
    color: #e5e5e5;
}

.homepage-banner .block-secondary-title {
    margin: 15px 0 15px 0 !important;
    font-size: 30px !important;
    color: #fff !important;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
}

.header-nav .nav .sf-menu {
    margin-bottom: 0;
}

.map-search-fields {
    padding-left: 15px !important;
}

.form-group .select2 {
    width: 100% !important;
}

.select2-selection {
    height: 45px;
}

.select2-selection .select2-search__field {
    margin-top: 0 !important;
}

.advanced-search {
    position: relative !important;
}

.advanced-search .container {
    padding-right: 55px;
}

.header-listing {
    padding: 13px 20px;
    /*margin-bottom: 30px;*/
    width: 100%;
    display: inline-block;
    /*background: #fff;*/
    /*box-shadow: 0 0 3px rgba(206, 206, 206, 0.36);*/
}

.header-listing .listing-views {
    padding: 0;
    margin: 4px 0 0 0;
    float: right;
    list-style: none;
    display: inline-block;
}

.header-listing .listing-views li {
    margin-left: 2px;
    display: inline-block;
    width: 27px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
}

.header-listing .listing-views li.active {
    background: #00d793;
    border: 1px solid #00d793;
}

.header-listing .listing-views li .fa {
    color: #e6e6e6;
}

.header-listing .listing-views li.active .fa {
    color: #fff;
}

.floating-button {
    background-color: #00d793;
    padding: 20px 25px;
    color: white;
    font-size: 30px;
    border-radius: 50%;
    opacity: .4;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: opacity .5s;
}

.floating-button:hover, .floating-button:visited {
    text-decoration: none;
    color: white;
    opacity: 1;
    transition: opacity .5s;
}

.floating-button:visited {
    opacity: .4;
}

.listing .gridview + .floating-button {
    display: block;
}

.listing .gridview.hide + .floating-button {
    display: none;
}

.listing.listing-3 .listing-grid .flexslider {
    min-height: 208px;
}

.uou-block-11a {
    z-index: 0;
    transition: z-index 0s .3s;
}

.mobile-sidebar-active > .uou-block-11a {
    z-index: 10 !important;
    transition: z-index 0s .1s;
}

.popular_listings .listing .row {
    min-height: 250px;
}

.loading_popular_listings {
    height: 250px;
    position: absolute;
    z-index: 999999;
    left: 15px;
    right: 15px;
}

.add-icon {
    border-radius: 50%;
    padding: 5px 8px;
    background-color: #00d793;
    box-shadow: 1px 1px 5px -2px black;
}

.remove-icon {
    border-radius: 50%;
    padding: 5px 8px;
    background-color: #f5665c;
    box-shadow: 1px 1px 5px -2px black;
}

@media (max-width: 569px) {
    .homepage-banner {
        padding: 60px 0 110px 0;
    }

    .homepage-banner .block-title {
        font-size: 45px;
    }
}

span.title {
    font-size: 18px;
    color: black;
    padding: 20px;
}

span.start_time_s {
    font-size: 14px;
    color: #1a2b2a;
    padding: 10px;
}