<div id="main-wrapper" class="homepage">

    <app-menu></app-menu>

    <router-outlet #leftMenu></router-outlet>


    <div class="uou-block-4e has-bg-image" data-bg-color="ffffff" style="background-color: #ffffff;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a routerLink="/" class="logo"><img src="assets/img/logo.png" style="width:250px;" alt=""></a>

                    <ul class="contact-info has-bg-image contain" data-bg-image="assets/img/footer-map-bg.png"
                        style="background-image: url('assets/img/footer-map-bg.png')">
                        <li>
                            <p>Tienes algún requerimiento o duda? Envíanos tu requerimiento:
                            </p>
                            <a href="mailto:losypco@gmail.com">losypco@gmail.com</a>
                        </li>


                    </ul>
                </div>



                <div class="col-md-4 col-sm-6">
                    <h5>Photostream</h5>

                    <ul class="photos-list">
                        <li><img src="assets/img/photostream4.jpg" alt=""></li>
                        <li><img src="assets/img/photostream6.jpg" alt=""></li>
                        <li><img src="assets/img/photostream3.jpg" alt=""></li>
                        <li><img src="assets/img/photostream2.jpg" alt=""></li>
                        <li><img src="assets/img/photostream1.jpg" alt=""></li>
                        <li><img src="assets/img/photostream.jpg" alt=""></li>
                    </ul>
                </div>

                <div class="col-md-4 col-sm-6">
                    <h5>Newsletter</h5>

                    <p>Subscribe to our newsletter to receive our latest news and updates. We do not spam.</p>

                    <form class="newsletter-form" action="#">
                        <input placeholder="Enter your email address" type="email">
                        <input class="btn btn-primary" value="Subscribe" type="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="uou-block-4a secondary">
        <div class="container">
            <ul class="social-icons">
                <li><a href="http://www.facebook.com/losypco/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="http://www.instragram.com/losypco/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="mailto:losypco@gmail.com"><i class="fa fa-envelope"></i></a></li>

            </ul>

            <p>Copyright © 2018 LOSYP. All Rights reserved.</p>
        </div>
    </div>
</div>

<div class="uou-block-11a">
    <h5 class="title">Menu</h5>
    <a href="#" class="mobile-sidebar-close">&times;</a>
    <nav class="main-nav">
        <div *ngIf="loggedIn; then login else unlogin"></div>
    </nav>
</div>

<ng-template #unlogin>
    <ul>
        <li class="active" routerLink="/"><a>Inicio</a></li>
        <li class="active" routerLink="categories"><a>Categorías</a></li>
    </ul>
    <hr>
    <ul>
        <li class="active"><a routerLink="/login">Iniciar sesión</a></li>
        <li class="active"><a routerLink="/register">Crear cuenta</a></li>
    </ul>
</ng-template>

<ng-template #login>
    <ul>
        <li class="active" routerLink="/"><a>Inicio</a></li>
        <li class="active" routerLink="categories"><a>Categorías</a></li>
        <li class="active" routerLink="/myfavorites"><a>Mis Favoritos</a></li>
        <li class="active" routerLink="/mysearchs"><a>Mis búsquedas</a></li>
        <li class="active" routerLink="/myservices"><a>Mis servicios</a></li>
        <li class="active" routerLink="/createservice"><a>Crear servicio</a></li>
    </ul>
    <hr>
    <ul>
        <li class="active" (click)="logout()"><a>Cerrar sesión</a></li>
    </ul>
</ng-template>
