<div class="col-12">
    <h4 class="text-center tc-blue">Autenticarse</h4>
    <hr class="bc-grei">
    <form [formGroup]="loginForm" name="form" (ngSubmit)="loginForm.valid && login()">
        <mat-form-field>
            <input matInput placeholder="Correo electrónico" name="email" [(ngModel)]="user.email"
                   [formControl]="loginForm.controls['email']"
                   required>
            <mat-error *ngIf="loginForm.controls['email'].invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Contraseña" name="password"
                   [formControl]="loginForm.controls['password']"
                   [(ngModel)]="user.password"
                   required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="loginForm.controls['password'].invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <br>
        <div class="form-group text-center">
            <button mat-raised-button color="primary" class="tc-white col-12" [disabled]="loading || loginForm.invalid">
                <mat-icon>lock_open</mat-icon>
                Autenticarse
            </button>
            <div *ngIf="loading">
                <mat-spinner>
                </mat-spinner>
            </div>
        </div>
    </form>
    <div class="form-group text-center">
        <span class="tc-blue"><b>Si quieres puedes autenticarte también con:</b></span>
        <button mat-raised-button class="tc-white bc-facebook col-12">
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
            Facebook
        </button>
    </div>
    <br>
    <div class="form-group text-center">
        <button mat-raised-button color="primary" class="tc-white col-12" (click)="openDialog()">
            Olvidé mi contraseña
        </button>
    </div>
</div>


