<div class="row"><h4 class="tc-blue ">CREAR ANUNCIO:</h4><div class="tc-blue col-6">{{step_title}}</div></div>
<wizard navBarLayout="large-empty-symbols" #WizardComponent name="WizardComponent" data-step="2">
  <wizard-step stepTitle="" navigationSymbol="1" >
    <form name="form"  (ngSubmit)="f.form.valid&&create()" #f="ngForm"  class="">
      {{f.form.errors}}
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !title.valid }">
        <label for="title">Titulo</label>
        <input type="text" class="form-control" name="title" [(ngModel)]="service.title" #title="ngModel"
               placeholder="Escriba el titulo" required/>
        <div *ngIf="f.submitted && !title.valid" class="help-block">Name is required</div>
      </div>
      <div class="form-group" >

        <label for="subtitle">Subtitulo</label>
        <input type="text" class="form-control" name="subtitle" [(ngModel)]="service.subtitle" #subtitle="ngModel"
               placeholder="Escriba el subtitulo" required/>
        <div *ngIf="f.submitted && subtitle.hasError('required')" class="help-block">Subtitle is required</div>

      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !address.valid }">
        <label for="address">Dirección</label>
        <input type="text" class="form-control" name="address" [(ngModel)]="service.address" #address="ngModel"
               placeholder="Escriba la direccion"/>
      </div>
      <div class="form-group">
        <label for="phone">Telefono</label>
        <input placeholder="Escriba el telefono" type="text" class="form-control" name="phone" [(ngModel)]="service.phone"
               required #phone="ngModel"/>
        <div *ngIf="f.submitted && !phone.valid" class="help-block">Phone is required</div>
      </div>


      <br>
      <div class="form-group">
        <mat-form-field class="form-group ">
          <mat-select placeholder="Ciudades" class="form-control" multiple="true" [(ngModel)]="service.cities" name="cities">
            <mat-option *ngFor="let city of cities" [value]="city.id">
              {{ city.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group">
        <!--<mat-form-field class="form-group ">-->
          <!--<mat-select placeholder="Categorias" class="form-control" multiple="true" [(ngModel)]="service.categories" name="categories">-->
            <!--<mat-option *ngFor="let category of categories" [value]="category.id">-->
              <!--{{ category.title }}-->
            <!--</mat-option>-->
          <!--</mat-select>-->
        <!--</mat-form-field>-->
      </div>
      <div class="form-group">
        <img name="preview" src="{{previewvalue}}" height="60" width="70" />
        <label class="fileContainer">
          <div class="btn btn-primary">
          Subir Foto
          </div>
          <input type="file"  class="btn btn-primary col-6" name="icon" size="20" (change)="onFileChange($event)" #fileInput  />

        </label>
           </div>
      <div class="form-group text-center">
        <!--nextStep-->
        <button type="submit" class="btn btn-primary col-6" >
          <i class="fa fa-next" aria-hidden="true"></i>
          Siguiente paso
        </button>
      </div>
    </form>


    <!--<button type="button" goToStep="2">Go directly to third Step</button>-->
  </wizard-step>
  <wizard-step stepTitle=""  (stepEnter)="step_title='Galeria de Fotos'" navigationSymbol="2">
    <form name="form2"  (ngSubmit)="galery()" #f="ngForm" novalidate class="">
    <label class="fileContainer">
      <div class="btn btn-primary">
        Subir Foto
      </div>
      <input type="file"  class="btn btn-primary col-6" name="icon" size="20" (change)="onFotoChange($event)" #fileInput  />

    </label>
    <br/>
    <div class="row">
    <div class="col-4" *ngFor="let prev of previews[0]" ><img [src]="prev" height="60" width="60"/></div>
  </div>
    <br/>
    <div class="row">
      <div class="col-4" *ngFor="let prev of previews[1]"><img [src]="prev" height="60" width="60"/></div>
    </div>
    <br/>
    <div class="row">
      <div *ngFor="let prev of previews[2]" class="col-4"><img  [src]="prev" height="60" width="60"/></div>
    </div>
    <br/>
    <div class="row">
      <div class="col-4" *ngFor="let prev of previews[3]" ><img [src]="prev" height="60" width="60"/></div>
    </div>
    <br/>
    <div class="form-group text-center">

      <!--nextStep-->
<div class="row">
      <button type="submit" class="btn btn-primary col-5"  previousStep>
        <i class="fa fa-back" aria-hidden="true"></i>
         Paso anterior
      </button>
      <div class="col-1"></div>
      <button type="submit" class="btn btn-primary col-5" >
        <!--nextStep-->
        <i class="fa fa-next" aria-hidden="true"></i>
        Siguiente paso
      </button>
    </div>
    </div>
    </form>
  </wizard-step>

  <wizard-step stepTitle="" (stepEnter)="step_title='Info adicional'" navigationSymbol="3">
    <form name="form3"  (ngSubmit)="f3.form.valid&&step3()" #f3="ngForm"  class="">
      <div class="form-group" [ngClass]="{ 'has-error': f3.submitted && !other_phone.valid }">
        <label for="other_phone">Telefono Adicional</label>
        <input type="number" class="form-control" name="other_phone" [(ngModel)]="service.other_phone" #other_phone="ngModel"
               placeholder="Escriba un telefono adicional"/>
        <div *ngIf="f3.submitted && !title.valid" class="help-block">Telefono Invalido</div>
      </div>
      <div class="form-group" >

        <label for="email">Correo elecronico</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="service.email" #email="ngModel"
               placeholder="Escriba su email"/>
        <div *ngIf="f3.submitted && email.hasError('email')" class="help-block">Correo incorrecto</div>

      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f3.submitted && !url.valid }">
        <label for="url">Dirección</label>
        <input type="url" class="form-control" name="url" [(ngModel)]="service.url" #url="ngModel"
               placeholder="Escriba su direccion web"/>
      </div>

      <!--<br>-->
      <div class="form-group">
          <mat-checkbox class="example-margin col-4" *ngFor="let day of week_days;let pos = index;" [(ngModel)]="service.week_days[pos]" value="{{pos}}" name="week_days" >{{day.title}}</mat-checkbox>
      </div>
      <div class="form-group form-inline" >

        <label for="start_time">Desde</label>
        <input type="text" class="form-control" name="start_time" [(ngModel)]="service.start_time" #start_time="ngModel"
               placeholder="Desde"/>
        <div *ngIf="f3.submitted && start_time.hasError('start_time')" class="help-block">Hora incorrecta</div>

      </div>
      <div class="form-group form-inline" >

        <label for="end_time">Hasta</label>
        <input type="text" class="form-control" name="end_time" [(ngModel)]="service.end_time" #end_time="ngModel"
               placeholder="Hasta"/>
        <div *ngIf="f3.submitted && start_time.hasError('end_time')" class="help-block">Hora incorrecta</div>

      </div>
      <div class="form-group">
        <!--<mat-form-field class="form-group ">-->
        <!--<mat-select placeholder="Categorias" class="form-control" multiple="true" [(ngModel)]="service.categories" name="categories">-->
        <!--<mat-option *ngFor="let category of categories" [value]="category.id">-->
        <!--{{ category.title }}-->
        <!--</mat-option>-->
        <!--</mat-select>-->
        <!--</mat-form-field>-->
      </div>
      <div class="form-group">
        <img name="preview" src="{{previewvalue}}" height="60" width="70" />
        <label class="fileContainer">
          <div class="btn btn-primary">
            Subir Foto
          </div>
          <input type="file"  class="btn btn-primary col-6" name="icon" size="20" (change)="onFileChange($event)" #fileInput  />

        </label>
      </div>
      <div class="form-group text-center">
        <!--nextStep-->
        <button type="submit" class="btn btn-primary col-6" >
          <i class="fa fa-next" aria-hidden="true"></i>
          Siguiente paso
        </button>
      </div>
    </form>
    <button type="button" previousStep>Previous Step</button>
    <button type="button" nextStep>Go to next step</button>
  </wizard-step>
  <wizard-step stepTitle="" (stepEnter)="step_title='Ubicaciones'"  navigationSymbol="4">
    <div class="form-group" [ngClass]="{ 'has-error': f3.submitted && !other_phone.valid }">
      <label for="ubicacion_title">Nombre Ubicacion</label>
      <input type="number" class="form-control" name="ubicacion"
             placeholder=""/>
    </div>
    <button type="button" (click)="finishFunction()">Finish</button>
  </wizard-step>
  <!--wizardCompletionStep-->
</wizard>
<style>
  .horizontal ul.steps-indicator  li.current div:after{
    background-color: #1e6bb8!important;
    color: #ffffff;
  }
  .horizontal[_nghost-c5]   ul.steps-indicator[_ngcontent-c5]   li[_ngcontent-c5]   div[_ngcontent-c5]   a[_ngcontent-c5]{
    background-color: #1e6bb8!important;
    color: #ffffff;
  }
</style>