<div class="row">
    <div class="input-group subscribir-btn">
        <input name="email" type="text" data-toggle="popover" data-placement="bottom"
               class="form-control" placeholder="Selecciona la ciudad...">
        <span class="input-group-addon btn btn-primary bc-blue-ligth" style="color: white; border: none">
            <i class="fa fa-arrow-down fa-2x"></i>
        </span>
    </div>
</div>
<br>
<div class="row">
    <div class="input-group subscribir-btn">
        <input name="email" type="text" data-toggle="popover" data-placement="bottom"
               class="form-control" placeholder="Selecciona la categoría...">
        <span class="input-group-addon btn btn-primary bc-blue-ligth" style="color: white; border: none">
            <i class="fa fa-arrow-down fa-2x"></i>
        </span>
    </div>
</div>
<br>
<div class="row">
    <div class="input-group subscribir-btn">
        <input name="email" type="text" data-toggle="popover" data-placement="bottom"
               class="form-control" placeholder="Escriba la distancia en Kms">
        <span class="input-group-addon btn btn-primary bc-blue-ligth" style="color: white; border: none">
            <i class="fa fa-arrow-down fa-2x"></i>
        </span>
    </div>
</div>
<br>


<div *ngFor="let service of services" class="media" style="border-bottom: 1px solid #bcbcbc;
    margin-bottom: 15px; padding-bottom: 10px;">
    <img class="d-flex align-self-center mr-3" width="115" src="../../../assets/service_img.png" alt="" style="border: 1px solid #bcbcbc;
    padding: 5px;">
    <div class="media-body">
        <h5 class="mt-0 tc-blue">{{service.title}}</h5>
        <div class="text-center fw-600" style="width: 35px;
    height: 16px;
    background-color: #44AB6C;
    color: white;
    font-size: 11px;" *ngIf="service.id < 2">PRO
        </div>
        <hr style="background-color: #bcbcbc;">
        <div class="row">
            <div class="col-9 col-sm-10 col-md-10 col-lg-11 fw-600 tc-grei" style="font-size: 13px;">
                <span>Calificación: 8/10</span><br>
                <span>Distancia: 5km</span><br>
                <span>Categoría: Hogar</span>
            </div>
            <div class="col-3 col-sm-2 col-md-2 col-lg-1">
                <i class="fa fa-bullhorn fa-2x tc-grei" style="margin-top: 10px"></i>
            </div>
        </div>
        <div class="row" style="margin-top: 3px;">
            <div class="col-6" style="padding-right: 5px;">
                <div class="text-center fw-600 bc-blue-ligth" style="color: white; font-size: 16px; cursor: pointer;">
                    <i class="fa fa-check d-none d-sm-inline"></i>
                    Visualizar
                </div>
            </div>
            <div class="col-6" style="padding-left: 5px;">
                <div class="text-center fw-600" (click)="open()"
                     style="color: white; font-size: 16px; background-color: #DF040B; cursor: pointer;a">
                    <i class="fa fa-microphone d-none d-sm-inline"></i>
                    Denunciar
                </div>
            </div>
        </div>
    </div>
</div>
