<div *ngFor="let service of services" class="media" style="border-bottom: 1px solid #bcbcbc;
    margin-bottom: 15px; padding-bottom: 10px;">
    <div>
        <span *ngIf="myservices" style="color: #e0040b; font-size: 13px; margin-left: 27px;" class="fw-600">{{valor < service.id ? "En revisión" : "Bloqueado"}}</span>
        <img class="d-flex align-self-center mr-3" width="115" [src]="service.icon?'login/'+service.icon:'../../../assets/service_img.png'"  alt="" style="border: 1px solid #bcbcbc;
    padding: 5px;">
    </div>
    <div class="media-body" [ngStyle]="{'margin-top': myservices ? '25px' : '0'}">
        <h5 class="mt-0 tc-blue">{{service.title}}</h5>
        <div class="text-center fw-600" style="width: 35px;
    height: 16px;
    background-color: #44AB6C;
    color: white;
    font-size: 11px;" *ngIf="service.id < 2 && !favorites && !myservices">PRO
        </div>
        <hr style="background-color: #bcbcbc;">
        <div class="row">
            <div class="col-9 col-sm-10 col-md-10 col-lg-11 fw-600 tc-grei" style="font-size: 13px;"
                 *ngIf="!myservices">
                <span>Calificación: 8/10</span><br>
                <span>Distancia: 5km</span><br>
                <span>Categoría: Hogar</span>
            </div>

            <div class="col-9 col-sm-10 col-md-10 col-lg-11 fw-600 tc-grei" style="font-size: 13px;" *ngIf="myservices">
                <span>Categoría: Hogar</span><br>
                <span>Ciudad: Quito</span><br>
                <span>Calificación: 8/10</span>
            </div>
            <div class="col-3 col-sm-2 col-md-2 col-lg-1 favorite-{{service.favorite}}">
                <i class="fa fa-heart fa-2x tc-grei "  style="margin-top: 10px;" (click)="markFavorite(service.id)"></i>
            </div>
        </div>
        <div class="row" style="margin-top: 3px;">
            <div class="col-6" style="padding-right: 5px;" *ngIf="!favorites && !myservices"
                 [routerLink]="['./service', service.id]">
                <div class="text-center fw-600 bc-blue-ligth" style="color: white; font-size: 16px; cursor: pointer;">
                    <i class="fa fa-check d-none d-sm-inline"></i>
                    Visualizar
                </div>
            </div>
            <div class="col-6" style="padding-left: 5px;" *ngIf="!favorites && !myservices">
                <div class="text-center fw-600" (click)="open()"
                     style="color: white; font-size: 16px; background-color: #DF040B; cursor: pointer;">
                    <i class="fa fa-microphone d-none d-sm-inline"></i>
                    Denunciar
                </div>
            </div>

            <div class="col-12" style="padding-left: 5px;" *ngIf="favorites && !myservices"
                 [routerLink]="['./service', service.id]">
                <div class="text-center fw-600 bc-blue-ligth"
                     style="color: white; font-size: 16px; cursor: pointer;">
                    <i class="fa fa-check d-none d-sm-inline"></i>
                    Ver detalle
                </div>
            </div>

            <div class="col-3" style="padding-left: 5px;" *ngIf="myservices">
                <div class="text-center fw-600 bc-blue-ligth"
                     style="color: white; font-size: 16px; cursor: pointer; background-color: #009030;">
                    <i class="fa fa-dollar d-none d-sm-inline"></i>
                </div>
            </div>
            <div class="col-3" style="padding-left: 5px;" *ngIf="myservices">
                <div class="text-center fw-600 bc-blue-ligth"
                     style="color: white; font-size: 16px; cursor: pointer;">
                    <i class="fa fa-check d-none d-sm-inline"></i>
                </div>
            </div>
            <div class="col-3" style="padding-left: 5px;" *ngIf="myservices">
                <div class="text-center fw-600 bc-blue-ligth"
                     style="color: white; font-size: 16px; cursor: pointer; background-color: #f19800;">
                    <i class="fa fa-edit d-none d-sm-inline"></i>
                </div>
            </div>
            <div class="col-3" style="padding-left: 5px;" *ngIf="myservices">
                <div class="text-center fw-600 bc-blue-ligth"
                     style="color: white; font-size: 16px; cursor: pointer; background-color: #e0040b;">
                    <i class="fa fa-close d-none d-sm-inline"></i>
                </div>
            </div>

        </div>
    </div>
</div>
