/* You can add global styles to this file, and also import other style files */

/* GENERALES */
.tc-blue {
    color: #0092B5;
}

.tc-grei{
    color: #88868B;
}

.bc-grei{
    background-color: #88868B;
}

.bc-blue-ligth{
    background-color: #0092B5;
}

.bc-blue-dark{
    background-color: #005878;
}

.bc-facebook{
background-color: #2C72B5;
}

label{
    margin-left: 1rem;
    margin-bottom:0;
}

.form-control {
    border-radius: 1.25rem;
    padding: 0.375rem 1rem;
}

.form-group label{
    color: #88868B;
    font-weight: 600;
}

.navbar {
    margin-bottom: 2.5rem;
    color: white;
}

.navbar-light .navbar-brand {
    font-weight: 600;
    color: white;
}

.help-block{
    padding-left: 1rem;
}




