/* You can add global styles to this file, and also import other style files */
.mat-form-field {
    display: block!important;
    position: relative;
    text-align: left;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* GENERALES */
.tc-blue {
    color: #0092B5;
}

.tc-grei {
    color: #88868B;
}

.bc-grei {
    background-color: #88868B;
}

.bc-blue-ligth {
    background-color: #0092B5;
}

.bc-blue-dark {
    background-color: #005878;
}

.bc-facebook {
    background-color: #2C72B5;
}

.help-block {
    color: #FF3C2F;
}

label {
    margin-left: 1rem;
    margin-bottom: 0;
}

.form-control {
    border-radius: 1.25rem;
    padding: 0.375rem 1rem;
}

.list-btn {
    list-style: none;
    margin-bottom: 20px;
    text-align: left;
}

.list-btn .btn{
    text-align: left;
}

input.form-control {
    border-color: #0092B5;
}

.form-group label {
    color: #88868B;
    font-weight: 600;
}

.navbar {
    margin-bottom: 2.5rem;
    color: white;
}

.navbar-light .navbar-brand {
    font-weight: 600;
    color: white;
}

.help-block {
    padding-left: 1rem;
}

.text-capitalize{
    text-transform: capitalize;
}

button:focus{
    outline: none;
}

button:hover, a{
    cursor: pointer;
}

/*Margin Bottom*/
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}

/*Font Weight*/
.fw-600{
    font-weight: 600;
}

/* MODALS */
.modal-header {
    padding: 0 0 0 2.5rem;
    color: white;
}

.close {
    font-size: 1.8rem;
    color: white;
    text-shadow: none;
}

.close span {
    margin-right: 10px;
}

/*.modal-dialog{*/
/*margin-top: 12rem;*/
/*}*/

/*wizard create service*/

.horizontal.large-empty-symbols[_nghost-c5] ul.steps-indicator[_ngcontent-c5] li.current[_ngcontent-c5]:after {
    border-width: 2px;
    border-style: solid;
    border-color: #808080;
    color: white;
    font-weight: bold;
    background-color: #005878;
}

.horizontal[_nghost-c5] ul.steps-indicator[_ngcontent-c5] li.current[_ngcontent-c5]:after {
    border-width: 2px;
    border-style: solid;
    border-color: #005878!important;
    color: white!important;
}

.horizontal ul.steps-indicator  li.current div:after{
    background-color: #1e6bb8!important;
    color: #ffffff!important;
    border-color: #1e6bb8!important;
}
.horizontal ul.steps-indicator  li.current:after{
    background-color: #1e6bb8!important;
    color: #ffffff!important;
    border-color: #1e6bb8!important;
}
.horizontal[_nghost-c5]   ul.steps-indicator[_ngcontent-c5]   li[_ngcontent-c5]   div[_ngcontent-c5]   a[_ngcontent-c5]{
    background-color: #1e6bb8!important;
    color: #ffffff!important;
    border-color: #1e6bb8!important;

}

.favorite-1 i{
    color:yellow;
}



