/**********************************************************************************************************************/
.showrate {
    margin-bottom: 0;
}

.showrate li {
    display: inline-block;
    list-style-type: none;
    color: #feab29;
}

.mat-snack-bar-container {
    background-color: #009e67;
}

.mat-simple-snackbar {
    justify-content: center !important;
}

.content-business .sidebar .sidebar-subcategories {
    position: relative;
    padding: 5px 22px 18px 22px;
    border-top: 1px solid #e8e8e8;
}

.content-business .sidebar .sidebar-subcategories h6 {
    margin: 20px 0;
    font-size: 17px;
}

.content-business .sidebar .sidebar-subcategories ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: auto;
    height: 350px;
}

.content-business .sidebar .sidebar-subcategories ul li {
    display: block;
    margin-bottom: 5px;
}

.not-exist{
    background-color: white;
    padding: 8px;
    text-align: center;
}

.mr-10{
    margin-right: 10px !important;
}

.showservices .select2-container .select2-selection--single{
    height: 35px !important;
}

.content-business .sidebar .sidebar-subcategories ul li input {
    margin-top: 7px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
}

.content-business .sidebar .sidebar-subcategories ul li .title {
    line-height: 20px;
    display: inline-block;
}

.listing.listing-3 .listing-grid-4 .info-footer .bookmark li.mitad, .listing.listing-3 .listing-grid-3 .info-footer .bookmark li.mitad{
    width: 50%;
}

@media (max-width: 1200px) {
    .content-business .sidebar .sidebar-subcategories ul li .title {
        font-size: 11px;
    }
}

@media (max-width: 992px) {
    .content-business .sidebar .sidebar-subcategories ul li .title {
        font-size: 13px;
    }
}

.content-business .sidebar .sidebar-subcategories ul li .count {
    display: inline-block;
    float: right;
    width: 25px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background: #c4c4c4;
    border-radius: 5px;
    border-radius: 40%;
}

.listing.listing-3 .listing-grid .listing-heading .marker-ribbon .ribbon-text {
    font-size: 9px;
}

[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    bottom: -85%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -65px;
    padding: 7px;
    width: 130px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    position: absolute;
    bottom: -12%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid hsla(0, 0%, 20%, 0.9);
    content: " ";
    font-size: 0;
    line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.categories .category-block .category-header.header-0 {
    background: #00d793 url(../src/assets/img/category-header-jobs.png) no-repeat top;
}

.categories .category-block .category-header.header-1 {
    background: #3399ff url(../src/assets/img/category-header-business.png) no-repeat top;
}

.categories .category-block .category-header.header-2 {
    background: #ff822e url(../src/assets/img/category-header-restaurant.png) no-repeat top;
}

.homepage .homepage-banner .map-search .map-search-fields {
    padding: 0 205px 0 20px;
}

.homepage .homepage-banner .map-search .map-search-fields .field input {
    height: 31px;
}

#filterDis {
    height: 44px;
}

.listing.listing-1 .listing-ver-1 .contact .listing-inner .listing-content {
    padding: 28px 28px 28px 28px;
}

.mat-stepper-horizontal, .mat-stepper-vertical{
    background-color: #f5f5f5;
}


/**********************************************************************************************************************/

/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.mat-form-field {
    display: block !important;
    position: relative;
    text-align: left;
}

/* GENERALES */
.right-icon {
    padding: 0 14px;
}

.center-spacer {
    flex: 1 1 auto;
}

.list-btn {
    list-style: none;
    margin-bottom: 20px;
    text-align: left !important;
}

.tc-white {
    color: white !important;
}

.tc-red {
    color: #E0040B !important;
}

.tc-blue {
    color: #0092B5;
}

.tc-grei {
    color: #88868B;
}

.bc-grei {
    background-color: #88868B;
}

.bc-blue-ligth {
    background-color: #0092B5 !important;
}

.bc-blue-dark {
    background-color: #005878;
}

.bc-facebook {
    background-color: #2C72B5;
}

.cp {
    cursor: pointer !important;
}

.mat-categories .mat-grid-tile .mat-figure {
    display: block !important;
    padding-top: 12px !important;
}

.mat-position .mat-grid-tile .mat-figure {
    display: block !important;
}

.mat-position h6 {
    margin-top: -2px;
    margin-bottom: 5px;
}

.mat-categories img {
    width: 110px;
    padding-bottom: 5px;
}

.mat-categories div.mat-content {
    font-size: 18px;
}

.scale:hover {
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -ms-transform: scale(1.10);
    -o-transform: scale(1.10);
    transform: scale(1.10);
    transition: all 0.5s;
}

:focus {
    outline: none;
}

.services-card {
    padding: 15px 16px !important;
    margin-bottom: 15px;
}

.services-card img {
    border: 1px solid #bcbcbc;
    padding: 5px;
    height: 122.891px;
}

.services-card hr {
    background-color: #bcbcbc;
}

.services-card span {
    font-size: 13px;
}

.services-card i.scale {
    margin-top: 13px;
}

.services-card .info {
    line-height: 1.2;
    margin-bottom: 5px;
    text-align: left !important;
}

.services-card .mat-raised-button {
    line-height: 26px;
}

.services-card .media-body button span {
    font-size: 16px !important;
}

.services-card .media-body .pro {
    width: 35px;
    height: 16px;
    background-color: #44AB6C;
    color: white;
    font-size: 11px;
}

.bc-green {
    background-color: #008F2F !important;
}

.bc-yellow {
    background-color: #F09700 !important;
}

.bc-red {
    background-color: #E0040B !important;
}

.services-card mat-grid-list {
    margin-top: 2px !important;
}

.mat-grid-tile.izq .mat-figure {
    justify-content: flex-start !important;
}

.service .mat-raised-button {
    line-height: 26px;
}

.mat-images .mat-content {
    height: 85%;
}

.mat-grid-tile.comment-date .mat-figure {
    justify-content: flex-end !important;
    font-size: 14px;
}

.textcomment button {
    position: absolute;
    right: 0;
    top: 0;
}

.mr-10 {
    margin-right: 10px !important;
}

.pt-5 {
    padding-top: 3px !important;
}

#comments p {
    margin-bottom: 0.25rem;
}

#comments hr {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.delete-image.mat-icon-button {
    width: 25px;
    height: 25px;
    line-height: 25px;
    position: absolute;
    top: -10px;
    right: -12px;
}

.delete-position.mat-icon-button {
    width: 25px;
    height: 25px;
    line-height: 25px;
}

.md-40 {
    font-size: 36px;
    margin-bottom: 14px;
}

.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

#map {
    height: 400px;
    width: 100%;
}

.report-comment {
    background-color: antiquewhite;
}

.mt-25 {
    margin-top: 0 !important;
}

@media (max-width: 992px) {
    .mt-25 {
        margin-top: 25px !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .container {
        max-width: 100% !important;
    }

    .container {
        width: 100%;
        padding-right: 15px !important;
        padding-left: 15px !important;
        margin-right: 10px !important;
        margin-left: 0 !important;
    }
}

/*mat-grid-tile {*/
/*background: lightblue;*/
/*}*/

/*.help-block {*/
/*color: #FF3C2F;*/
/*}*/

/*label {*/
/*margin-left: 1rem;*/
/*margin-bottom: 0;*/
/*}*/

/*.form-control {*/
/*border-radius: 1.25rem;*/
/*padding: 0.375rem 1rem;*/
/*}*/

/*.list-btn .btn{*/
/*text-align: left;*/
/*}*/

/*input.form-control {*/
/*border-color: #0092B5;*/
/*}*/

/*.form-group label {*/
/*color: #88868B;*/
/*font-weight: 600;*/
/*}*/

.navbar {
    margin-bottom: 2.5rem;
    color: white;
}

.navbar-light .navbar-brand {
    font-weight: 600;
    color: white;
}

.help-block {
    padding-left: 1rem;
}

.text-capitalize {
    text-transform: capitalize;
}

button:focus {
    outline: none;
}

button:hover, a {
    cursor: pointer;
}

/*Margin Bottom*/
.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

/*Font Weight*/
.fw-600 {
    font-weight: 600;
}

/* MODALS */
.modal-header {
    padding: 0 0 0 2.5rem;
    color: white;
}

.close {
    font-size: 1.8rem;
    color: white;
    text-shadow: none;
}

.close span {
    margin-right: 10px;
}

/*.modal-dialog{*/
/*margin-top: 12rem;*/
/*}*/

/*wizard create service*/

.horizontal.large-empty-symbols[_nghost-c5] ul.steps-indicator[_ngcontent-c5] li.current[_ngcontent-c5]:after {
    border-width: 2px;
    border-style: solid;
    border-color: #808080;
    color: white;
    font-weight: bold;
    background-color: #005878;
}

.horizontal[_nghost-c5] ul.steps-indicator[_ngcontent-c5] li.current[_ngcontent-c5]:after {
    border-width: 2px;
    border-style: solid;
    border-color: #005878 !important;
    color: white !important;
}

.horizontal ul.steps-indicator li.current div:after {
    background-color: #1e6bb8 !important;
    color: #ffffff !important;
    border-color: #1e6bb8 !important;
}

.horizontal ul.steps-indicator li.current:after {
    background-color: #1e6bb8 !important;
    color: #ffffff !important;
    border-color: #1e6bb8 !important;
}

.horizontal[_nghost-c5] ul.steps-indicator[_ngcontent-c5] li[_ngcontent-c5] div[_ngcontent-c5] a[_ngcontent-c5] {
    background-color: #1e6bb8 !important;
    color: #ffffff !important;
    border-color: #1e6bb8 !important;

}

.favorite-1 i {
    color: yellow;
}



