<div class="toolbar">
    <div class="uou-block-1a blog">
        <div class="container">
            <ul class="social">
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
                <li><a href="#" class="fa fa-google-plus"></a></li>
            </ul>

            <ul *ngIf="!loggedIn" class="authentication">
                <li><a routerLink="/login">Iniciar sesión</a></li>
                <li><a routerLink="/register">Crear cuenta</a></li>
            </ul>
            <ul *ngIf="loggedIn" class="authentication">
                <li (click)="logout()"><a>Cerrar sesión</a></li>
                <li (click)="openDialog()"><a>Cambiar contraseña</a></li>
            </ul>
        </div>
    </div> <!-- end .uou-block-1a -->
</div> <!-- end toolbar -->

<div class="header-nav">
    <div class="box-shadow-for-ui">

        <div class="uou-block-2b icons">
            <div class="container">
                <a routerLink="/" class="logo"><img src="assets/img/logo.png" alt=""></a>
                <a href="#" class="mobile-sidebar-button mobile-sidebar-toggle"><span></span></a>

                <div *ngIf="loggedIn; then login else unlogin"></div>

            </div>
        </div> <!-- end .uou-block-2b -->

    </div>
</div> <!-- edn header-navm -->

<ng-template #unlogin>
    <nav class="nav">
        <ul class="sf-menu">
            <li class="" routerLink="/">
            <a><i class="fa fa-home"></i>Inicio</a>
            </li>
            <li routerLink="categories">
                <a><i class="fa fa-search-plus"></i>Categorías</a>
            </li>
        </ul>
    </nav>
</ng-template>

<ng-template #login>
    <nav class="nav">
        <ul class="sf-menu">
            <!--<li class="active" routerLink="/">-->
            <!--<a><i class="fa fa-home"></i>Home</a>-->
            <!--</li>-->
            <li routerLink="categories">
                <a><i class="fa fa-search-plus"></i>Categorías</a>
            </li>
            <li routerLink="/myfavorites">
                <a><i class="fa fa-star"></i>Mis Favoritos</a>
            </li>
            <li routerLink="/mysearchs">
                <a><i class="fa fa-search"></i>Mis búsquedas</a>
            </li>
            <li routerLink="/myservices">
                <a><i class="fa fa-bullhorn"></i>Mis anuncios</a>
            </li>
            <li routerLink="/createservice">
                <a><i class="fa fa-plus"></i>Crear anuncio</a>
            </li>
            <li routerLink="/mensajes">
                <a><i class="fa fa-bell"></i>Buzón</a>
            </li>
            <!--<li routerLink="/">-->
                <!--<a><i class="fa fa-bell"></i>Buzón</a>-->
            <!--<li routerLink="/">-->
                <!--<a><i class="fa fa-cog"></i>Cambiar contraseña</a>-->
            <!--</li>-->
            <!--<li routerLink="/">-->
                <!--<a><i class="fa fa-question-circle-o"></i>Ayuda</a>-->
            <!--</li>-->
        </ul>
    </nav>
</ng-template>